

/* CLEAR */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*removed em PG*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End Clear */






/* General styles */
body
{background-color:#ecefed;overflow:hidden}

a
{color:blue;text-decoration:underline;}
.colorHover, .aHover, a:hover
{color:#810735;text-decoration:underline;cursor:pointer;}

/* Simplified version, according to idea on http://alistapart.com/article/holygrail */
div#container {padding-left:220px;height:100%;}
div#nav {width:220px;}
/* The iFrame with the viewer  */
#viewerFrame, #repairiPadiFrame {height:100%;width:100%;background-color:#FFFFFF;}
/* The bar with the URL*/
#urlBar{
	display:none;position:absolute;top:0px;left:0px;right:0px;margin-left:220px;padding:3px;z-index:10; /*solution to let it dynamically fill out the space from 220px onward. The absolute positioning makes the trick with width 100% not work: ita takes 100% of the whole window.*/
	border: solid #808080 2px; 
	font-family:Arial,Helvetica,sans-serif;font-size:0.8em;color:#808080;
	background-color: #021a44; 
	}
#urlString
{
	width:90%;
	height:80px;
	background-color:#ececec;
}
div.urlInfoBarLeader {margin:3px;}

img#closeUrlBar
{
	float:right;
	cursor:pointer;
}

div#chromeLocalWarning{
	position:absolute;left:45%;top:40%;display:none;width:400px;height:100px;border: 3px solid white;background-color:#021a44;color:white;font-family:Arial,Helvetica,sans-serif;font-size:1em;padding:10px;z-index:10
}

/* top panel with logo and settings menu */
img#logo {position:absolute;left:0px;top:0px;border:none;}
a#linkToCask {position:absolute;left:0px;top:0px;width:80px; height:100px}
img#setLabels {position:absolute;left:115px;top:80px;cursor:pointer;}
img#link {position:absolute;left:150px;top:80px;cursor:pointer;}
span#tooltipGetLinkTextHideLink{display:none;} /*initial*/
img#wrench {position:absolute;left:180px;top:75px;cursor:pointer;}
div#settingsDiv {display:none;position:absolute;left:0px;top:112px;width:212px;padding:3px;z-index:10;background-color:white;border:1px solid black;overflow:auto;font-family:Arial,Helvetica,sans-serif;z-index:200;}
.shiftUp{position:relative;top:-10px;}
img.linkIconSmall{width:18px;height:18px;}

/* open slidebox with menutabs overlays*/
img#slideBoxOpen {position:absolute;left:0px;top:112px;z-index:10;cursor:pointer;}

a.menutab {
	position:absolute;left:0px;width:220px;height:85px;z-index:20;
	font-family:Arial;font-size:1.5em; font-weight:bolder;color:white;text-decoration:none;
	opacity: 0.30;filter: alpha(opacity=30);	
	cursor:pointer;}
a.menutab:hover {color:#5f5f5f;opacity: 0.80;filter: alpha(opacity=80);}
a#menutab1{top:112px;background-color:#00024c;} /*#a11b4e;#9ab89b*/
a#menutab2{top:197px;background-color:#810735;}

/* accordion shiftout menu */
div#SlideSetsMenuPane /* NOTE!! if change width, also change max. e.pageX [should be: width+5] in hideNavAtMouseOut() in nav_pane.js */
{	position:absolute;left:0px;top:282px;width:220px;;margin:0px;padding:0px;z-index:1001;font-family:Arial;
	opacity: 0.95;
	filter: alpha(opacity=95);
	overflow:hidden;
} /*#5B739C*/
.slideSetsMenu
{position:relative;left:0px;top:0px;padding:0px;margin:0px;cursor:pointer;}
.slideSetsMenu h3:hover, .slideSetsMenu div:hover  
{color:#810735;}
.slideSetsMenu .accordionHeader 
{   margin:0px;padding-left:0px; min-height:50px;
	color:#FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	font-weight:bold;
	background: #646464; /* Old browsers */
	background: -moz-linear-gradient(#646464,#c8c8c8); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#646464), color-stop(100%,#c8c8c8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #646464,#c8c8c8); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #646464,#c8c8c8); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #646464,#c8c8c8); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#646464', endColorstr='#c8c8c8',GradientType=0 );  /*IE6-9 gave problems - text gone on IE7/8*/
	background: linear-gradient(top, #646464,#c8c8c8); /* W3C */
}
.slideSetsMenu .accordionEntry
{   margin:0px;padding-left:0px;width:220px;height:31px;
	font-size:75%;color:#646464;
	border-bottom: 1px solid #FFFFFF;
	background: #c8c8c8; /* Old browsers */
	background: -moz-linear-gradient(#c8c8c8,#f1f1f1); /* FF3.6+  #c8c8c8*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c8c8c8), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #c8c8c8,#f1f1f1); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #c8c8c8,#f1f1f1); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #c8c8c8,#f1f1f1); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8c8c8', endColorstr='#f1f1f1',GradientType=0 );  /*IE6-9 gave problems - text gone on IE7/8*/
	background: linear-gradient(top, #c8c8c8,#f1f1f1); /* W3C */
}
/*.slideSetsMenu .menuheader{background-image:url('../img/slidebox_side_220.png');width:220px;height:31px;padding-left:10px;}*/
div#slidesContOverlay
{
	position:absolute;left:0px;top:282px;width:220px;bottom:0px;margin:0px;padding:0px;overflow:auto;z-index:1000;
	background-color:#202020;
	opacity: 0.90;
	filter: alpha(opacity=90);
}

/* slides container */
div#slidesCont {position:absolute;left:0px;top:282px;width:220px;overflow-x:auto;overflow-y:scroll;}

/* slide */
.cont {position:relative;left:0px;top:20px;width:198px;height:125px;z-index:1;list-style-type:none}
.slide {position:absolute;left:5px;top:0px;z-index:0;}
.img {position:absolute;left:20px;top:10px;z-index:1; margin-left:auto;margin-right:auto;}
.sensor {position:absolute;left:10px;top:6px;width:175px;height:62px;z-index:2;cursor:pointer;}
.caption {position:absolute;left:10px;top:75px;width:188px;height:40px;font-family:Courier;font-size:70%;color:black;line-height:1}
.written {position:absolute;left:145px;top:10px;width:40px;height:55px;font-family:script, monospace;font-size:9px;font-style:italic;line-height:0.8;color:#767676;z-index:1;overflow:hidden;word-wrap:break-word;}




/* log box*/
div#log {display:none;position:absolute;top:500px;left:10px;width:200px;height:300px;background:white;border:solid 1px black;z-index:101;font-family:sans-serif;color:black;font-size:70%;overflow:auto;}