/*classes for the svg shapes in segmenter.js*/

.handlePoint {
	stroke : #404040; 
	fill : #808080;
}

.activePoint {
	fill: #ff0000;
}

.activePolygon {
	fill: #ff0000;
}

#drawToolPanel {
	position:absolute;bottom:0px; width:100%;min-height:35px;padding:5px;background:#e1e4ed;text-align:center;z-index:10;
	opacity: 0.95;
	filter: alpha(opacity=95);
	} /*text-align-center in outer container and inner container: inline-block is workaround for css missing 'center', pos:abs to let it be in front of slide, width:100% to get the centering working again*/
}



button:hover {

}

button.down {
	background: #8989ba; /* Old browsers */
	background: -moz-linear-gradient(top,  #8989ba 0%, #8989ba 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8989ba), color-stop(100%,#8989ba)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8989ba 0%,#8989ba 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8989ba 0%,#8989ba 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8989ba 0%,#8989ba 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #8989ba 0%,#8989ba 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8989ba', endColorstr='#8989ba',GradientType=0 ); /* IE6-9 */
	color:#202020;
}

/*non active deletpoint button: font is light grey*/
button#btDeletePoint {
	background: #dbdbdb;
	color:#c0c0c0;	
}

/*non active deletpoint button: font is light grey*/
button#btDeletePolygon {
	background: #dbdbdb;
	color:#c0c0c0;	
}

button#btDeletePoint.deleteActive, button#btDeletePolygon.deleteActive {
	background: #febbbb; /* Old browsers */
	background: -moz-linear-gradient(top,  #febbbb 0%, #fe9090 45%, #ff5c5c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#febbbb), color-stop(45%,#fe9090), color-stop(100%,#ff5c5c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=0 ); /* IE6-9 */
	color:#404040;
}

#btDrawPolygon {
/*	-webkit-border-bottom-right-radius:5px 8px;-moz-border-radius-bottomright:5px 8px;border-bottom-right-radius:5px 8px;
	-webkit-border-bottom-left-radius:5px 8px;-moz-border-radius-bottomleft:5px 8px;border-bottom-left-radius:5px 8px;
	background: #ffffff; /* Old browsers */


}

/*must be declared as last to work -why? */
button {
	min-width:100px;height:30px;

	border: solid #808080 2px; 
	-webkit-border-radius: 11;
	-moz-border-radius: 11;
	border-radius: 11px;
	
	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

	font-size: 1em;font-family:Arial,Helvetica,sans-serif;color:#808080;
	text-align:center; text-decoration: none;
	padding: 0.25em 0.5em;
	opacity: 1;
	filter: alpha(opacity=100);
	margin: 3px;
	z-index:10;
}

