/*classes for the svg shapes in segmenter.js*/


svg#imageSegmentations {}
div#svgContainer {position:absolute;width:100%;height:100%;z-index:1;}

.handlePoint {
	stroke : #404040; 
	fill : #808080;
}

.activePoint {
	fill: #ff0000;
}

.activePolygon {
	fill: #ff0000;
}

#menuPolygon {
	width: 10em;
}
